<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    
    
    <title>COVID-19 Dashboard</title>
    <meta name="description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries."/>
    <meta name="og:title" property="og:title" content="COVID-19 Dashoard"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@limitless_josh" />
    <meta property="og:description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries." />
    <meta property="og:image" content="ogimage.png" />
    <meta property="og:url" content="http://coviddash.digital" />
    <meta name="twitter:image" content="ogimage.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162603226-1"></script>
    <script data-ad-client="ca-pub-2275435046137289" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-162603226-1');
    </script>
    <head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function(){
            setInterval(updateCases,10000);
        });
        $(document).ready(function(){
            setInterval(updateDeaths,10000);
        });
    </script>
    <script>
        function updateCases() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("cases").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/counters/cases", true);
            xhttp.send();
        }
    </script>
    <script>
        function updateDeaths() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("deaths").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "/counters/deaths", true);
            xhttp.send();
        }
    </script>
    
</head>


<body>
    <header>
        {{> header}}
    </header>
    
    <div class="container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md leftCard">
                <div class="worldCard">
                <p class="cardtitle">Confirmed worldwide cases</p>
                <p class="data" id="cases">{{{counterdata.cases}}}</p>
                </div>
            </div>
            <div class="col-md rightCard">
                <div class="worldCard">
                <p class="cardtitle">Confirmed worldwide deaths</p>
                <p class="data" id="deaths">{{{counterdata.deaths}}}</p>
                </div>
            </div>
        </div>
        
        <svg height="20" width="20" class="update" style="float: left;">
            <circle cx="10" cy="10" r="5" fill="red" />
        </svg>
        <p class="update" style="float: left; font-size: 15px; color:darkgrey;">Checking for updates</p>
        <p style="text-align: right;">Source: <a href="https://www.worldometers.info/coronavirus/">Worldometers</a>, <a href="https://bnonews.com/index.php/2020/04/the-latest-coronavirus-cases/">BNO News</a></p>
        <br>
        <div class="row">
            <p style="font-size: 12px;">Tip: Click a country's name on the legend below to remove the country from the graph.</p>
            <!---<canvas id="deathChart" height="600"></canvas>--->
        </div>
        <div class="row">
        <p style="color: red; font-weight: bold;">Please note: UK deaths on weekends face significant reporting delays, sometimes of up to a week. The UK's curve may show signs of a quicker flattening on certain days and a reverse of that flattening on others. This is due to the DHSCs data and is unavoidable unfortunately.</p>
        <script>  
        $(document).ready(function(){
            $('#deathChart').show();
            $('#casesChart').hide()
            $('#chartselector').on('change', function() {
                if ( this.value == 'cases') {
                    $("#casesChart").show();
                }
                else {
                    $("#casesChart").hide();
                }
                if ( this.value == 'deaths') {
                    $("#deathChart").show();
                }
                else {
                    $("#deathChart").hide();
                }
            });
        });
        </script>
            <select id="chartselector">
                <option value="deaths">Deaths</option>
                <option value="cases">Cases</option>
            </select>
        </div>
            <div class="row" style="margin-top: 20px; background-color: #f7f7f7; padding-top: 10px; border-radius: 10px;">
            <canvas id="casesChart" height="800"></canvas>
            <canvas id="deathChart" height="800" ></canvas>
            <section style="width: 100%;">
            <p style="float: left;"> Data: <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">European Centre for Disease Control</a></p>
            <p class="graphupdate" style="text-align:right;">Last checked for update: {{{lastUpdate}}}</p>
            </section>
            </div>
    <script>
        Chart.defaults.global.defaultFontFamily = 'Arial'
        Chart.defaults.global.defaultFontColor = '#000000'
        Chart.defaults.global.defaultFontSize = 14
        var ctx = document.getElementById('deathChart'); 

        var deathChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                {
                    label: 'United Kingdom',
                    data: {{{json dUKdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'Italy',
                    data: {{{json dITAdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'Spain',
                    data: {{{json dESPdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'United States',
                    data: {{{json dUSAdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, {
                    label: 'South Korea',
                    data: {{{json dKORdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, {
                    label: 'Germany',
                    data: {{{json dDEUdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, /*{
                    label: 'Japan',
                    data: {{{json dJPNdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                },*/{
                    label: 'China',
                    data: {{{json dCHNdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                }, {
                    label: 'Sweden',
                    data: {{{json dSWEdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Switzerland',
                    data: {{{json dCHEdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                }, {
                    label: 'France',
                    data: {{{json dFRAdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Netherlands',
                    data: {{{json dNLDdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Canada',
                    data: {{{json dCANdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },/*{
                    label: 'Russia',
                    data: {{{json dRUSdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },*/],
            },
            options: {
                plugins: {
                    colorschemes: {
                        fillAlpha: 0.8,
                        scheme: 'brewer.SetThree12',                      
                    },
                },
                tooltips: {
                    enabled: true,
                    callbacks: {
                        beforeTitle: function(toolTipItem, data) {
                            return 'Total confirmed deaths: '
                        },
                        beforeBody: function(toolTipItem, data) {
                            return 'Weekly confirmed deaths: '
                        },
                        footer: function(toolTipItem, data) {
                            var dates = {{{json dates}}}
                            var dateObj = {
                                'United Kingdom': 'GBR',
                                'Italy': 'ITA',
                                'Spain': 'ESP',
                                'United States': 'USA',
                                'South Korea': 'KOR',
                                'Germany': 'DEU',
                                'China': 'CHN',
                                'Sweden': 'SWE',
                                'Switzerland': 'CHE',
                                'France': 'FRA',
                                'Japan': 'JPN',
                                'Ireland': 'IRL',
                                'Netherlands': 'NLD',
                                'Canada': 'CAN',
                                'Russia': 'RUS',
                            }
                            var countryCode = dateObj[data.datasets[toolTipItem[0].datasetIndex].label]
                            return dates[countryCode][toolTipItem[0].index]
                        }
                    }
            },  
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Weekly confirmed deaths (logarithmic)'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 0, //minimum tick
                        max: 100000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(0);
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(200);
                        chartObj.ticks.push(500);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(2000);
                        chartObj.ticks.push(5000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(20000);
                        chartObj.ticks.push(50000);
                        chartObj.ticks.push(100000);
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Total confirmed deaths (logarithmic)'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 100, //minimum tick
                        max: 50000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(200);
                        chartObj.ticks.push(500);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(2000);
                        chartObj.ticks.push(5000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(20000);
                        chartObj.ticks.push(50000);
                    }
                }]
            }
        }
    });
    </script>
    <script>
        var ctx = document.getElementById('casesChart').getContext('2d');
        var casesChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                {
                    label: 'United Kingdom',
                    data: {{{json cUKdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'Italy',
                    data: {{{json cITAdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'Spain',
                    data: {{{json cESPdata}}},
                    fill: false,
                    lineTension: 0.5,
                }, {
                    label: 'United States',
                    data: {{{json cUSAdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, {
                    label: 'South Korea',
                    data: {{{json cKORdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, {
                    label: 'Germany',
                    data: {{{json cDEUdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                }, {
                    label: 'Japan',
                    data: {{{json cJPNdata}}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true
                },{
                    label: 'China',
                    data: {{{json cCHNdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                }, {
                    label: 'Sweden',
                    data: {{{json cSWEdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Switzerland',
                    data: {{{json cCHEdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                }, {
                    label: 'France',
                    data: {{{json cFRAdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Netherlands',
                    data: {{{json cNLDdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Canada',
                    data: {{{json cCANdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },{
                    label: 'Russia',
                    data: {{{json cRUSdata }}},
                    fill: false,
                    lineTension: 0.5,
                    hidden: true,
                },],
            },
            options: {
                plugins: {
                    colorschemes: {
                        fillAlpha: 0.8,
                        scheme: 'tableau.Classic20',                      
                    },
                },
                tooltips: {
                    enabled: true,
                    callbacks: {
                        beforeTitle: function(toolTipItem, data) {
                            return 'Total confirmed cases: '
                        },
                        beforeBody: function(toolTipItem, data) {
                            return 'Weekly confirmed cases: '
                        },
                        footer: function(toolTipItem, data) {
                            var dates = {{{json dates}}}
                            var dateObj = {
                                'United Kingdom': 'GBR',
                                'Italy': 'ITA',
                                'Spain': 'ESP',
                                'United States': 'USA',
                                'South Korea': 'KOR',
                                'Germany': 'DEU',
                                'China': 'CHN',
                                'Sweden': 'SWE',
                                'Switzerland': 'CHE',
                                'France': 'FRA',
                                'Japan': 'JPN',
                                'Ireland': 'IRL',
                                'Netherlands': 'NLD',
                                'Canada': 'CAN',
                                'Russia': 'RUS',
                            }
                            var countryCode = dateObj[data.datasets[toolTipItem[0].datasetIndex].label]
                            return dates[countryCode][toolTipItem[0].index]
                        }
                    }
            },  
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Weekly confirmed cases (logarithmic)'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 100, //minimum tick
                        max: 500000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(200);
                        chartObj.ticks.push(500);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(2000);
                        chartObj.ticks.push(5000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(20000);
                        chartObj.ticks.push(100000);
                        chartObj.ticks.push(200000);
                        chartObj.ticks.push(500000);
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Total confirmed cases (logarithmic)'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 100, //minimum tick
                        max: 1000000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(200);
                        chartObj.ticks.push(500);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(2000);
                        chartObj.ticks.push(5000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(20000);
                        chartObj.ticks.push(50000);
                        chartObj.ticks.push(100000);
                        chartObj.ticks.push(200000);
                        chartObj.ticks.push(500000);
                        chartObj.ticks.push(1000000);
                    }
                }]
            }
        }
    });
    </script>
    <div class="row">
    <br>
    <section class="faq">
        <section class="qa-block">
            <p class="question">What is this?</p>
            <p class="answer">This is a dashboard of information relating to the 2019/2020 COVID-19 pandemic. The counters at the top show the latest worldwide cases and deaths, and the graph shows the confirmed deaths of COVID-19 in some major countries against the total confirmed deaths for each country. The diagonal line that most countries follow is the period of exponential growth. Italy and Spain appear to be approaching their peaks. Note that this means they are having the same amount of weekly deaths. As the line for China shows, as a country starts reporting less weekly cases, it will drop dramatically. This is when a country has reached its peak daily deaths.</p>
        </section>
        <!---<section class="qa-block">
            <p class="question">China's data is rubbish!!! Why are you showing it?</p>
            <p class="answer">Because there is simply no way of knowing. It's quite hard to hide an epidemic and there is no evidence suggesting their death figures are completely wrong. Their data may or may not be correct, but I've plotted them anyway. I may remove it in the future. Other countries will be added an removed as the situation changes. </p>
        </section>--->
        <section class="qa-block">
            <p class="question">Why's this different from the other graphs I've seen?</p>
            <p class="answer">It probably shows the same trend - countries roughly following the same trajectory. Most graphs I've seen plot a measure of cases or deaths against a time (e.g. days since nth death). The approach on this web page is in my opinion better as it ignores time.</p>
        </section>
        <section class="qa-block">
            <p class="question">How often is this updated?</p>
            <p class="answer">The counters check for updates every two minutes. You don't need to refresh the page, they will update automatically if new data is available. The graph uses ECDC data which is updated every morning (UTC), which could be up to 24 hours after a country has released it. The graph may therefore take up to 24 hours to update. The counters at the top of the page for cases and deaths update very frequently and use different sources.</p>
        </section>
        <section class="qa-block">
            <p class="question">Can I use your data/How did you make this/is there a GitHub repo?</p>
            <p class="answer">All code, including for the web app, is available on GitHub <a href="https://github.com/josh-cb/COVID-19_Dashboard">here</a>.</p>
        </section>
    </section>
    </div>
</body>
</html>