<head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>
<header>
    {{> header}}
</header>

<p class="update">Last updated: {{lastUpdate}}</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<canvas id="myChart" width="1300" height="600"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'China',
            backgroundColor: 'rgba(255,0,0,0.4)',
            borderColor: 'rgba(255,0,0,0.4)',
            data: {{{json CHNdata }}},
            fill: false
        }, {
            label: 'United Kingdom',
            backgroundColor: 'rgba(0,255,0,0.4)',
            borderColor: 'rgba(0,255,0,0.4)',
            data: {{{json UKdata}}},
            fill: false
        }, {
            label: 'Italy',
            backgroundColor: 'rgba(0,0,255,0.4)',
            borderColor: 'rgba(0,0,255,0.4)',
            data: {{{json ITAdata}}},
            fill: false
        }],
        labels: {{{json dates}}}
    },
    options: {
        responsive: false,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Weekly confirmed deaths'
                },
                type: 'logarithmic',
                ticks: {
                    beginAtZero: false,
                    callback: function(tick, index, ticks) {
                        return tick.toLocaleString()
                    }
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Total confirmed deaths'
                },
                type: 'logarithmic',
                ticks: {
                    beginAtZero: false,
                    callback: function(tick, index, ticks) {
                        return tick.toLocaleString()
                    }
                }
            }]
        }
    }
});
</script>

<section class="faq">
    <p class="question">What is this?</p>
    <p class="answer">This graph shows the confirmed deaths of COVID-19 in China, the UK, and Italy against the total confirmed deaths for each country.</p>
</section>