<head>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <title>COVID-19 Dashoard</title>
    <meta name="description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries."/>
    <meta name="og:title" property="og:title" content="COVID-19 Dashoard"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@limitless_josh" />
    <meta property="og:description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries." />
    <meta property="og:image" content="ogimage.png" />
    <meta property="og:url" content="http://coviddash.digital" />
    <meta name="twitter:image" content="ogimage.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

    <header>
        {{> header}}
    </header>
</head>


<body>
    <section class="chartwrapper">
        <p class="update">Last updated: {{lastUpdate}}</p>
        <canvas id="deathChart" width="1300" height="600"></canvas>
    <script>
        var ctx = document.getElementById('deathChart').getContext('2d');
        var deathChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    label: 'China',
                    backgroundColor: 'rgba(255,0,0,0.4)',
                    borderColor: 'rgba(255,0,0,0.4)',
                    data: {{{json CHNdata }}},
                    fill: false
                }, {
                    label: 'United Kingdom',
                    backgroundColor: 'rgba(0,255,0,0.4)',
                    borderColor: 'rgba(0,255,0,0.4)',
                    data: {{{json UKdata}}},
                    fill: false
                }, {
                    label: 'Italy',
                    backgroundColor: 'rgba(0,0,255,0.4)',
                    borderColor: 'rgba(0,0,255,0.4)',
                    data: {{{json ITAdata}}},
                    fill: false
                }, {
                    label: 'Spain',
                    backgroundColor: 'rgba(255,127,0,0.4)',
                    borderColor: 'rgba(255,127,0,0.4)',
                    data: {{{json ESPdata}}},
                    fill: false
                }, {
                    label: 'United States',
                    backgroundColor: 'rgba(255,0,150,0.4)',
                    borderColor: 'rgba(255,0,150,0.4)',
                    data: {{{json USAdata}}},
                    fill: false
                }],
            labels: {{{json dates}}}
            },
            options: {
                tooltips: {
                    enabled: true,
                    callbacks: {
                        beforeTitle: function(toolTipItem, data) {
                            return 'Total confirmed deaths: '
                        },
                        beforeBody: function(toolTipItem, data) {
                            return 'Weekly confirmed deaths: '
                        }
                    }
            },  
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Weekly confirmed deaths'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 10, //minimum tick
                        max: 100000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(10);
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(100000);
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Total confirmed deaths'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 100, //minimum tick
                        max: 100000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(100000);
                    }
                }]
            }
        }
    });
    </script>
    </section>
</body>