<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    
    <title>COVID-19 Dashboard</title>
    <meta name="description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries."/>
    <meta name="og:title" property="og:title" content="COVID-19 Dashoard"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@limitless_josh" />
    <meta property="og:description" content="A data dashboard to track the novel coronavirus COVID-19 cases and deaths in major countries." />
    <meta property="og:image" content="ogimage.png" />
    <meta property="og:url" content="http://coviddash.digital" />
    <meta name="twitter:image" content="ogimage.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <header>
        {{> header}}
    </header>
</head>


<body>
    <div class="container">
        <div class="row">
            <p class="update">Last updated: {{lastUpdate}}</p>
        </div>
        <div class="row">
            <div class="col-md leftCard">
                <div class="worldCard">
                <p class="cardtitle">Confirmed worldwide cases</p>
                <p class="data">{{{json worlddata.totalCases}}}</p>
                </div>
            </div>
            <div class="col-md rightCard">
                <div class="worldCard">
                <p class="cardtitle">Confirmed worldwide deaths</p>
                <p class="data">{{{json worlddata.totalDeaths}}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <p style="font-size: 12px;">Tip: Click a country's name on the legend below to remove the country from the graph.</p>
            <canvas id="deathChart" height="600"></canvas>
        </div>
    <script>
        var ctx = document.getElementById('deathChart').getContext('2d');
        var deathChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [/*{
                    label: 'China',
                    backgroundColor: 'rgba(255,0,0,0.4)',
                    borderColor: 'rgba(255,0,0,0.4)',
                    data: {{{json CHNdata }}},
                    fill: false
                },*/ {
                    label: 'United Kingdom',
                    backgroundColor: 'rgba(0,255,0,0.4)',
                    borderColor: 'rgba(0,255,0,0.4)',
                    data: {{{json UKdata}}},
                    fill: false
                }, {
                    label: 'Italy',
                    backgroundColor: 'rgba(0,0,255,0.4)',
                    borderColor: 'rgba(0,0,255,0.4)',
                    data: {{{json ITAdata}}},
                    fill: false
                }, {
                    label: 'Spain',
                    backgroundColor: 'rgba(255,127,0,0.4)',
                    borderColor: 'rgba(255,127,0,0.4)',
                    data: {{{json ESPdata}}},
                    fill: false
                }, {
                    label: 'United States',
                    backgroundColor: 'rgba(255,0,150,0.4)',
                    borderColor: 'rgba(255,0,150,0.4)',
                    data: {{{json USAdata}}},
                    fill: false
                }, {
                    label: 'South Korea',
                    backgroundColor: 'rgba(0,255,255,0.4)',
                    borderColor: 'rgba(0,255,255,0.4)',
                    data: {{{json KORdata}}},
                    fill: false
                }, {
                    label: 'Germany',
                    backgroundColor: 'rgba(50,100,75,0.4)',
                    borderColor: 'rgba(50,100,75,0.4)',
                    data: {{{json DEUdata}}},
                    fill: false
                }, {
                    label: 'Japan',
                    backgroundColor: 'rgba(0,125,120,0.4)',
                    borderColor: 'rgba(0,125,120,0.4)',
                    data: {{{json JPNdata}}},
                    fill: false
                }],
            labels: {{{json dates}}}
            },
            options: {
                tooltips: {
                    enabled: true,
                    callbacks: {
                        beforeTitle: function(toolTipItem, data) {
                            return 'Total confirmed deaths: '
                        },
                        beforeBody: function(toolTipItem, data) {
                            return 'Weekly confirmed deaths: '
                        }
                    }
            },  
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Weekly confirmed deaths'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 10, //minimum tick
                        max: 100000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(10);
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(100000);
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Total confirmed deaths'
                    },
                    type: 'logarithmic',
                    ticks: {
                        min: 100, //minimum tick
                        max: 100000, //maximum tick
                        callback: function (value, index, values) {
                            return Number(value.toString());//pass tick values as a string into Number function
                        }
                    },
                    afterBuildTicks: function (chartObj) { //Build ticks labelling as per your need
                        chartObj.ticks = [];
                        chartObj.ticks.push(100);
                        chartObj.ticks.push(1000);
                        chartObj.ticks.push(10000);
                        chartObj.ticks.push(100000);
                    }
                }]
            }
        }
    });
    </script>
    <p class="answer"> Data: <a href="https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide">European Centre for Disease Control</a></p>
    <section class="faq">
        <section class="qa-block">
            <p class="question">What is this?</p>
            <p class="answer">This graph shows the confirmed deaths of COVID-19 in some major countries against the total confirmed deaths for each country. The diagonal line that most countries follow is the period of exponential growth. Italy and Spain appear to be approaching their peaks. Note that this means they are having the same amount of weekly cases. As the line for China shows, as a country starts reporting less weekly cases, it will drop dramatically. This is when a country has reached its peak daily deaths.</p>
        </section>
        <section class="qa-block">
            <p class="question">China's data is rubbish!!! Why are you showing it?</p>
            <p class="answer">Because there is simply no way of knowing. It's quite hard to hide an epidemic and there is no evidence suggesting their death figures are completely wrong. Their data may or may not be correct, but I've plotted them anyway. I may remove it in the future. Other countries will be added an removed as the situation changes. </p>
        </section>
        <section class="qa-block">
            <p class="question">Why's this different from the other graphs I've seen?</p>
            <p class="answer">It probably shows the same trend - countries roughly following the same trajectory. Most graphs I've seen plot a measure of cases or deaths against a time (e.g. days since nth death). The approach on this web page is in my opinion better as it ignores time.</p>
        </section>
        <section class="qa-block">
            <p class="question">How often is this updated?</p>
            <p class="answer">The ECDC publishes data up to 24 hours after a country has released it. As it uses the ECDC's data, the graph may take a while to update. It is sometimes manually updated, too.</p>
        </section>
        <section class="qa-block">
            <p class="question">Can I use your data/How did you make this/is there a GitHub repo?</p>
            <p class="answer">All code, including for the web app, is available on GitHub <a href="https://github.com/josh-cb/COVID-19_Dashboard">here</a>.</p>
        </section>
    </section>
    </div>
</body>
</html>